<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crypto Dashboard</title>
</head>
<body>
  <mat-drawer-container id="drawerContainer">

    <mat-drawer mode="side" opened id="sidebar">
      <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
      <app-toolbar></app-toolbar>

      <div id="layoutContainer">
        <div id="leftLayout">
          <app-selected-chart class="leftLayoutChildren"></app-selected-chart>
          <app-crypto-list class="leftLayoutChildren"></app-crypto-list>
        </div>
        <div id="rightLayout">
          <app-crypto-converter class="rightLayoutChild"></app-crypto-converter>
        </div>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>
</body>
</html>