#drawerContainer {
    height: 100vh;
    background-color: var(--purple-light);
}

#sidebar {
    width: 20vh;
    border: none;
}

#layoutContainer {
    height: 85vh;
    display: flex;
    padding: 0 3rem;
}

#leftLayout {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftLayoutChildren {
    height: 50%;
    margin-bottom: 1rem;
}

#rightLayout {
    width: 30%;
    display: flex;
}

.rightLayoutChild {
    width: 100%;
    margin-left: 1rem;
}