<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crypto Dashboard</title>
</head>
<body>
  <mat-drawer-container id="drawerContainer">
    <mat-drawer mode="side" opened id="sidebar">
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <div>
        <app-selected-chart></app-selected-chart>
        <app-crypto-list></app-crypto-list>
      </div>
      <div>
        <app-crypto-converter></app-crypto-converter>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</body>
</html>