<div id="parentContainer">
    <span id="logo">LOGO</span>
    <div class="itemContainer">
        <span class="label">Cryptos:</span>
        <span class="value">cryptos</span>
    </div>
    <div class="itemContainer">
        <span class="label">Exchanges:</span>
        <span class="value">exchanges</span>
    </div>
    <div class="itemContainer">
        <span class="label">24h Vol:</span>
        <span class="value">volume24h</span>
    </div>
    <span id="disclamer">
        Data from <a href="https://www.coingecko.com/en/api/documentation" target="_blank">CoinGecko</a>
        <br>
        <span>{{ updated }}</span>
    </span>
</div>
