#listContainer {
    background-color: var(--white);
    border-radius: 1rem;
}

#title {
    font-weight: bold;
}

mat-list {
    height: 32vh;
    width: 95%;
    margin: 0 auto;
    padding-top: 0;
    overflow-y: auto;
}

.mat-list-item {
    font-size: 0.9rem;
    font-weight: 500;
    border-bottom: solid 1px var(--purple-light);
    color: var(--black);
}

#titleRow {
    height: 3rem;
    width: 94%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 0.8rem;
}

.titleItem {
    color: var(--purple);
    background: var(--purple-light);
    padding: 0.3rem;
    border-radius: 1rem;
    font-weight: 500;
}

.columnWidth {
    width: 10%;
}

.nameColumnWidth { 
    width: 25%;
    display: flex;
    align-items: center;
}

.supplyColumn {
    width: 20%;
    text-align: center;
}

.mat-progress-bar {
    width: 80%;
    height: 5px;
    margin: 0 auto;
    margin-top: 0.3rem;
    border-radius: 1rem;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: var(--purple);
}

::ng-deep .mat-progress-bar-buffer {
    background: var(--purple-light);
}

#cryptoSymbol {
    margin-left: 0.5rem;
    font-weight: normal;
    color: var(--gray);
    background: var(--gray-light);
    border-radius: 1rem;
    width: 2.5rem;
    text-align: center;
    font-size: 0.8rem;
}

.rankColumnWidth {
    width: 7%;
}

.textStyle {
    width: 3.5rem;
    display: block;
    text-align: center;
    font-weight: 500;
    border-radius: 1rem;
    padding: 0.3rem;
}

.low {
    color: var(--red);
    background-color: var(--red-light);
}

.high {
    color: var(--green);
    background-color: var(--green-light);
}

::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
}

::-webkit-scrollbar-thumb {
    background: var(--purple-light);
    border-radius: 10px;
}

.onHoverCursor :hover {
    cursor: pointer;
}

.tippyContent {
    display: flex;
    justify-content: space-between;
}

::ng-deep .tippy-box {
    width: 25rem;
    padding: 0.5rem;
}