<div>
    <h3 id="title">Top 100 Coins</h3>
    <div id="listContainer">
        <div id="titleRow">
            <div class="rankColumnWidth" style="margin-left: -1rem; margin-right: 0.5rem;">
                <span class="titleItem textStyle">Rank</span>
            </div>
            <div class="nameColumnWidth" style="margin-left: 0.5rem; margin-right: -0.5rem;">
                <span class="titleItem textStyle">Name</span>
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle">Price</span>
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle">1h</span>
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle">24h</span>
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle">7d</span>
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle" style="width: 5rem;">Market Cap</span> 
            </div>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let coin of listDataSource; let i = index;">
                <span class="rankColumnWidth">{{ i + 1 }}</span>
                <div class="nameColumnWidth">
                    <img src="{{ coin.image }}" height="23px" style="margin-right: 0.5rem;"> 
                    <span> {{ coin.name }}</span>
                    <span id="cryptoSymbol"> {{ coin.symbol }}</span>
                </div>
                <span class="columnWidth">${{ coin.current_price }}</span>
                <div class="columnWidth">
                    <span [ngClass]="coin.price_change_percentage_1h_in_currency < 0 ? 'low textStyle' : 'high textStyle'">{{ coin.price_change_percentage_1h_in_currency }}%</span>
                </div>
                <div class="columnWidth">
                    <span [ngClass]="coin.price_change_percentage_24h_in_currency < 0 ? 'low textStyle' : 'high textStyle'">{{ coin.price_change_percentage_24h_in_currency }}%</span>
                </div>
                <div class="columnWidth">
                    <span [ngClass]="coin.price_change_percentage_7d_in_currency < 0 ? 'low textStyle' : 'high textStyle'">{{ coin.price_change_percentage_7d_in_currency }}%</span>
                </div>
                <span class="columnWidth">${{ coin.market_cap }}</span>
            </mat-list-item>
        </mat-list>
    </div>
    
</div>