<div>
    <h3 id="title">Top 100 Coins</h3>
    <div id="listContainer">
        <div id="titleRow">
            <div class="rankColumnWidth" style="margin-left: -1rem; margin-right: 0.5rem;">
                <span class="titleItem textStyle">Rank</span>
            </div>
            <div class="nameColumnWidth" style="margin-left: 0.5rem; margin-right: -0.5rem;">
                <span class="titleItem textStyle">Name</span>
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle">Price</span>
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle">1h</span>
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle">24h</span>
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle" style="margin-left: -0.8rem; margin-right: 0.8rem;">7d</span>
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle" style="width: 5rem;">Market Cap</span> 
            </div>
            <div class="columnWidth">
                <span class="titleItem textStyle" style="width: 7rem; margin-left: 1.5rem;">Circulating Supply</span> 
            </div>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let coin of listDataSource; let i = index;">
                <span class="rankColumnWidth">{{ i + 1 }}</span>
                <div class="nameColumnWidth">
                    <img src="{{ coin.image }}" height="23px" style="margin-right: 0.5rem;"> 
                    <span> {{ coin.name }}</span>
                    <span id="cryptoSymbol"> {{ coin.symbol }}</span>
                </div>
                <span class="columnWidth">${{ coin.current_price }}</span>
                <div class="columnWidth">
                    <span [ngClass]="coin.price_change_percentage_1h_in_currency < 0 ? 'low textStyle' : 'high textStyle'">{{ coin.price_change_percentage_1h_in_currency }}%</span>
                </div>
                <div class="columnWidth">
                    <span [ngClass]="coin.price_change_percentage_24h_in_currency < 0 ? 'low textStyle' : 'high textStyle'">{{ coin.price_change_percentage_24h_in_currency }}%</span>
                </div>
                <div class="columnWidth">
                    <span [ngClass]="coin.price_change_percentage_7d_in_currency < 0 ? 'low textStyle' : 'high textStyle'">{{ coin.price_change_percentage_7d_in_currency }}%</span>
                </div>
                <span class="columnWidth">${{ coin.market_cap }}</span>
                <div id="my-tooltip-template" style="display: none">
                    <h1>Sauce</h1>
                </div>
                <div id="supply" class="columnWidth supplyColumn">               
                    <div #toolTipTemplate>
                        <div class="tippyContent" *ngIf="coin.progress < 100">
                            <span>Percentage</span>
                            <span>{{ coin.progress }}%</span>
                        </div>
                        <mat-progress-bar style="margin: 0.8rem 0;" *ngIf="coin.progress !== 100" mode="determinate" value="{{ coin.progress }}"></mat-progress-bar>
                        <div class="tippyContent">
                            <span>Circulating Supply</span>
                            <span>{{ coin.circulating_supply }} {{ coin.symbol }}</span>
                        </div>
                        <div class="tippyContent">
                            <span>Max Supply</span>
                            <span>{{ coin.total_supply }} {{ coin.symbol }}</span>
                        </div>
                    </div>
                    <div 
                         [ngxTippy]="toolTipTemplate"
                         [tippyProps]="{ theme: 'light', placement: 'bottom',  delay: [200, null] }">
                        <span>{{ coin.circulating_supply }} {{ coin.symbol }}</span>
                        <mat-progress-bar *ngIf="coin.progress !== 100" mode="determinate" value="{{ coin.progress }}"></mat-progress-bar>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>