#headerContainer {
    display: flex;
    position: absolute;
    width: 125vh;
    justify-content: space-between;
}

#title {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.headerChild {
    position: relative;
    z-index: 2;
}

.chartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 1rem;
}

.chart {
    width: 100%;
}

mat-button-toggle-group {
    margin-right: 20vh;
    margin-top: 0.5rem;
    height: 40px;
}

::ng-deep .mat-button-toggle-label-content {
    display: flex !important;
    align-items: center !important;
    height: 40px !important;
}

.mat-button-toggle {
    height: 40px;
}

.mat-button-toggle-checked, .mat-button-toggle:hover {
    background-color: var(--purple-light);
}