#title {
    position: absolute;
    z-index: 2;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.chartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 1rem;
}

#selectionMsg {
    position: absolute;
    font-weight: 500;
    color: var(--gray);
}

.chart {
    width: 100%;
}